{% extends "stopple/base.html" %}
{% block main %}
  <div class="flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
    <h1>CVE {{ cve.id }}</h1>
    <p>{{ cve.description }}</p>
  </div>
  <h3>Affected packages</h3>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Severity</th>
        <th scope="col">Package ID</th>
        <th scope="col">Range</th>
      </tr>
    </thead>
    <tbody>
      {% for vulnerability in vulnerabilities %}
        <tr>
          <td>{{ vulnerability.severity }}</td>
          <td>{{ vulnerability.package_id }}</td>
          <td>
            {% if vulnerability.start and vulnerability.end %}{{ vulnerability.start }} -> {{ vulnerability.end }}{% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}
