<h3>Vulnerabilities for {{ package }} {{ package_version }}</h3>
{% if not package_version %}Warning: no version given, returning everything{% endif %}
<div class="table-responsive small">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">CVE Id</th>
        <th scope="col">Severity</th>
        <th scope="col">Range</th>
      </tr>
    </thead>
    <tbody>
      {% for vulnerability in vulnerabilities %}
        <tr>
          <td>
            <a href="{% url 'cve_details' vulnerability.cve_id %}">{{ vulnerability.cve_id }}</a>
          </td>
          <td>{{ vulnerability.severity }}</td>
          <td>
            {% if vulnerability.range %}{{ vulnerability.range.start }} -> {{ vulnerability.range.end }}{% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
